* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: linear-gradient(to right, rgb(78, 66, 78), rgb(49, 49, 248));
}
.die {
  margin-top: 50px;
  margin-left: 40px;
}
.dir {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* text-align: space-between; */
}
.gro {
  font-style: bold;
  font-size: 50px;
  /* margin-top: 0; */
  font-family: proxima-nova, sans-serif !important;
  color: white;
}

body.dark-mode .gro {
  font-style: bold;
  font-size: 50px;
  /* margin-top: 0; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}
.lir {
  margin-left: 60px;
  margin-top: 40px;
}
.lir a {
  text-decoration: none;
  font-size: 20px;
}
.lir a:hover {
  text-decoration: underline;
}
.lir input {
  width: 200px;
  border: none;
  border-radius: 10px;
  height: 40px;
  margin-top: 0px !important;
}
.cart {
  font-size: 35px !important;
  color: white;
  margin-left: 10px !important;
  margin-top: 35px !important;
}
.hea {
  /* margin-top */
  margin-right: 60px;
  margin-left: px;
  color: white;
  font-weight: bold;
}

body.dark-mode .hea {
  margin-right: 60px;
  color: black;
}
.go {
  margin-right: 60px;
  color: white;
  font-weight: bold;
}

body.dark-mode .go {
  margin-right: 60px;
  color: black;
}
.sign-button {
  border: none;
  height: 35px;
  width: 110px;
  background-color: red;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  margin-right: 30px;
}
.img {
  float: right;
  margin: 100px 50px 50px 100px;
}
.del {
  font-size: 100px;
  margin-left: 20px;
  margin-bottom: 0px;
  color: white;
}
body.dark-mode .del {
  font-size: 100px;
  margin-left: 20px;
  margin-bottom: 0px;
  color: black;
}
.buy {
  margin-left: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 50px;
  font-weight: bold;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 44px;
  margin-left: 40px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.dark-mode {
  background-image: linear-gradient(to left, rgb(69, 62, 69), rgb(74, 80, 229));
}
.topnav input[type="text"] {
  padding: 6px;
  border: double;
  /* font-size:20px */
}

.topnav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}
.watch {
  length: 20px;
  border: 1px black;
}
.titl {
  color: rgba(0, 0, 0, 0);
  font-size: 40px;
  margin-top: 60px;
  margin-left: 20px;
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  border-bottom: 1px solid white;
}
 .cat1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: solid 2px white; */
  color: white;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.card1 {
  width: 32%;
  /* height: 45px !important; */
  font-size: 20px !important;
  /* margin-left: 20px; */
  margin-top: 10px;
}
.card1 img {
  border-radius: 10px !important;
  height: 227px;
  width: 397px;
}
.card2 {
  width: 32%;
  /* height: 450px !important; */
  font-size: 20px !important;
  margin-left: 20px;
  margin-top: 10px;
}
.card2 img {
  border-radius: 10px !important;
  height: 227px;
  width: 397px;
}
.card3 {
  width: 32%;
  /* height: 450px !important; */
  font-size: 20px !important;
  margin-left: 10px;
  margin-top: 10px;
}
.card3 img {
  border-radius: 10px !important;
  height: 227px;
  width: 397px;
} 
.btn{
    background: #302d2d;
    color: azure;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 0px !important;
}